body,
html {
    margin: 0px;
    padding: 0px;
    background-color: #dddddd;
    overflow-x: hidden;
}

.header {
    border-bottom: 1px solid #000;
}

.header__ttl {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item {
    font-size: 25px;
    font-weight: bold;
    color: #3366FF;

}

.nav {
    display: flex;
    align-items: center;
}

.nav__button {
    border: 1px solid #3366FF;
    border-radius: 5px;
    background-color: #3366FF;
    margin-right: 30px;
}

.nav__button a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.logout__button {
    color: #fff;
    text-decoration: none;
    border: 1px solid #3366FF;
    border-radius: 5px;
    background-color: #3366FF;
    margin-right: 30px;
    font-size: 15px;
    padding: 3px 5px;
}

table {
    margin: 100px auto;
    width: 85%;
}

.table__th,
.table__td {
    text-align: center;
    border: 1px solid #000;
    height: 50px;

}

.table__td {
    background-color: #fff;
}

.delete {
    padding: 10px 5px 0 5px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #3366FF;
    background-color: #fff;
    color: #3366FF;

}

.alert-success {
    color: #3366FF;
    padding-left: 20px;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .header__ttl {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__item {
        margin-left: 10px;
    }

    .nav {
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
    }

    .nav__button {
        margin-left: 0;
        margin-right: 10px;
    }

    .nav__button a,
    .logout__button {
        font-size: 8px;
        vertical-align: middle;
        font-weight: 400;
    }

    .logout__button {
        padding: 7px 5px;
    }

    .table {
        width: 95%;
    }

    .table__th,
    .table__td {
        padding: 15px;
    }

    .table__th {
        font-size: 12px;
    }

    .table__td {
        font-size: 10px;
    }

    .delete {
        font-size: 8px;
    }


}