body,
html {
    margin: 0px;
    padding: 0px;
    background-color: #dddddd;
    overflow-x: hidden;
}

.header {
    border-bottom: 1px solid #000;
}

.header__ttl {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item {
    font-size: 25px;
    font-weight: bold;
    color: #3366FF;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__button {
    border: 1px solid #3366FF;
    border-radius: 5px;
    background-color: #3366FF;
    margin-right: 30px;
}

.nav__button a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.logout__button {
    color: #fff;
    text-decoration: none;
    border: 1px solid #3366FF;
    border-radius: 5px;
    background-color: #3366FF;
    margin-right: 30px;
    font-size: 15px;
    padding: 3px 5px;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

.main__title {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

.feedback__item {
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aaaaaa;
}

.feedback__item:first-of-type {
    border-top: 1px solid #aaaaaa;
}


.feedback__actions {
    text-align: right;
    margin-top: 10px;
}

.feedback__edit {
    color: #000;
    margin-right: 20px;
    font-size: 16px;
}

.feedback__delete {
    border: none;
    background-color: #dddddd;
    color: #000;
    text-decoration: underline;
    padding-bottom: 0;
    font-size: 16px;
}

.feedback__image {
    width: 50%;
    height: 200px;
    object-fit: cover;
}

.feedback__rating {
    font-size: 30px;
    color: #3366FF;
}

.feedback__rating .fa-star {
    margin-right: 15px;
}

.feedback__rating .fa-star.filled {
    color: #3366FF;
}

.feedback__rating .fa-star.empty {
    color: #aaaaaa;
}

.feedback__comment {
    font-size: 20px;
    padding: 5px;
}

.feedback__message {
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

.no__feedback-message {
    text-align: center;
}

@media (max-width: 768px) {
    .header__ttl {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__item {
        margin-left: 10px;
    }

    .nav {
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
    }

    .nav__button {
        margin-left: 0;
        margin-right: 4px;
    }

    .nav__button a,
    .logout__button {
        font-size: 8px;
        vertical-align: middle;
        font-weight: 400;
    }

    .logout__button {
        padding: 7px 5px;
        margin: 0;
    }

    .main {
        margin: 0 5px;
    }

    .feedback__actions {
        margin-bottom: 10px;
    }

}