body,
html {
    margin: 0px;
    padding: 0px;
    background-color: #dddddd;
    overflow-x: hidden;
}

.header {
    border-bottom: 1px solid #000;
}

.header__ttl {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item {
    font-size: 25px;
    font-weight: bold;
    color: #3366FF;

}

.nav {
    display: flex;
    align-items: center;
}

.nav__button {
    border: 1px solid #3366FF;
    border-radius: 5px;
    background-color: #3366FF;
    margin-right: 30px;
}

.nav__button a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.logout__button {
    color: #fff;
    text-decoration: none;
    border: 1px solid #3366FF;
    border-radius: 5px;
    background-color: #3366FF;
    margin-right: 30px;
    font-size: 15px;
    padding: 3px 5px;
}

.main {
    max-width: 800px;
    margin: 50px auto;
}

.main__title {
    font-size: 25px;
    font-weight: 700;
}

.main__upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    max-width: 400px;
    margin: 0 auto;
}

.file__upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.file__upload-text {
    display: block;
}

.file__upload-label input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.drop__title {
    display: none;
}

.button {
    margin-top: 60px;
    text-align: center;
}

.main__button {
    width: 50%;
    background-color: #3366FF;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.text-danger {
    color: red;
    text-align: center;
}

@media (max-width: 768px) {
    .header__ttl {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__item {
        margin-left: 10px;
    }

    .nav {
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
    }

    .nav__button {
        margin-left: 0;
        margin-right: 4px;
    }

    .nav__button a,
    .logout__button {
        font-size: 8px;
        vertical-align: middle;
        font-weight: 400;
    }

    .logout__button {
        padding: 7px 5px;
        margin: 0;
    }

    .main__upload {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        margin: 0 auto;
        padding: 0 5px;
    }
}

