ody,
html {
    margin: 0px;
    padding: 0px;
    background-color: #dddddd;
}

.header {
    border-bottom: 1px solid #000;
}

.header__ttl {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item {
    font-size: 25px;
    font-weight: bold;
    color: #3366FF;

}

.nav {
    display: flex;
    align-items: center;
}

.shop {
    border: 1px solid #3366FF;
    border-radius: 5px;
    background-color: #3366FF;
    margin-right: 20px;
}

.shop a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.send-mail {
    margin-right: 20px;
}

.send-mail__button {
    text-decoration: none;
    border: 1px solid #3366FF;
    border-radius: 5px;
    background-color: #3366FF;
    color: #fff;
    padding: 3px 10px;
    font-size: 15px;
}

.logout__button {
    color: #fff;
    text-decoration: none;
    border: 1px solid #3366FF;
    border-radius: 5px;
    background-color: #3366FF;
    margin-right: 30px;
    font-size: 15px;
}

.alert-success {
    margin: 20px 0 0 20px;
    color: #3366FF;
}

.main {
    max-width: 500px;
    margin: 0 auto;
}

.main__ttl {
    margin-top: 100px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.form-group select {
    width: 50%;
}

.form-group input {
    width: 50%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.button {
    text-align: center;
    margin-top: 100px;
}

.btn-primary {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: #3366FF;
    color: #fff;
}

.text-danger {
    text-align: center;
    color: #ff0000;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav>div {
        margin-bottom: 10px;
    }

    .shop a,
    .send-mail a,
    .logout__button {
        font-size: 10px;
    }

    .logout__button {
        padding: 4px;
    }

    .main {
        max-width: 100%;
    }

    .header__title {
        margin-left: 10px;
    }

    .header__item {
        font-size: 20px;
    }

    .label {
        margin-left: 10px;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
    }

    .form-group select,
    .form-group input {
        width: 48%;
        margin-right: 10px;
        color: #000;
    }
}