body,
html {
    margin: 0px;
    padding: 0px;
    background-color: #dddddd;
    overflow-x: hidden;
}

.header {
    max-width: 1500px;
    border-bottom: 1px solid #000;
}

.header__ttl {
    max-width: 1200px;
    margin: 0 auto;
}

.header__title {
    font-size: 25px;
    font-weight: bold;
}

.main {
    margin: 100px auto;
    background-color: #fff;
    max-width: 500px;
    border-radius: 5px;
}

.main__ttl {
    margin: 0 auto;
    background-color: #3366FF;
    border-radius: 5px 5px 0 0;
    padding: 1px 0 1px 20px;
    color: #fff;
}

.main__about {
    max-width: 400px;
    margin: 0 auto;
}

.shop {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 20px 0;
}

.password {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 30px 0;
}


.shop input,
.password input {
    width: 60%;
    border: none;
    border-bottom: 1px solid #000;
}

.button {
    text-align: right;
    padding: 30px 0;
}

.button__ttl {
    background-color: #3366FF;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.button__register {
    text-align: center;
    padding-bottom: 10px;
}

.button__register a {
    text-decoration: none;
}

.error {
    text-align: center;
    color: #ff0000;
}

@media (max-width: 768px) {

    header,
    .header__ttl {
        max-width: 100%;
        margin: 0 auto;
    }

    .header__title {
        margin-left: 30px;
        font-size: smaller;
    }

    .main__ttl,
    .main__about,
    .shop select,
    .shop input,
    .password input {
        max-width: 100%;
        margin: 0 auto;
    }

    .main {
        margin: 100px auto;
        max-width: 95%;
    }

    .shop,
    .password {
        display: flex;
        justify-content: space-between;
    }

    .label {
        margin-left: 10px;
        font-size: 15px;
    }


    .shop input {
        width: 50%;
        margin-left: 10px;
        margin-right: 20px;
        font-size: 15px;
        border: none;
        border-bottom: 1px solid #000;
    }

    .button {
        text-align: center;
    }
}