body,
html {
    margin: 0px;
    padding: 0px;
    background-color: #dddddd;
    overflow-x: hidden;
}

.header {
    border-bottom: 1px solid #000;
}

.header__ttl {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item {
    font-size: 25px;
    font-weight: bold;
    color: #3366FF;

}

.nav {
    display: flex;
    align-items: center;
}

.nav__button {
    border: 1px solid #3366FF;
    border-radius: 5px;
    background-color: #3366FF;
    margin-right: 30px;
}

.nav__button a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.logout__button {
    color: #fff;
    text-decoration: none;
    border: 1px solid #3366FF;
    border-radius: 5px;
    background-color: #3366FF;
    margin-right: 30px;
    font-size: 15px;
    padding: 3px 5px;
}

.table {
    margin: 80px auto;
    width: 90%;
}

.table__th:nth-child(1),
.table__th:nth-child(2) {
    width: 29%;
}

.table__th {
    padding: 20px 100px;
    border: 1px solid #000;
    text-align: center;
    font-size: 15px;
}

.table__td:nth-child(1),
.table__td:nth-child(2) {
    text-align: center;
}

.table__td:nth-child(3) {
    font-size: 14px;
}

.table__td {
    background-color: #fff;
    padding: 10px 5px;
    border: 1px solid #000;
    margin: 0 auto;
    height: 100px;

}




@media (max-width: 768px) {
    .header__ttl {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__item {
        margin-left: 10px;
    }

    .nav {
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav__button {
        margin-left: 0;
        margin-right: 5px;
    }

    .nav__button a,
    .logout__button {
        font-size: 8px;
        vertical-align: middle;
    }

    .nav__button a {
        padding: 0 5px;
    }

    .logout__button {
        padding: 7px 5px;
    }

    .table {
        width: 80%;
    }

    .table__th,
    .table__td {
        padding: 12px;
        font-size: 12px;
    }

    .table__td:nth-child(3) {
        font-size: 10px;
    }

    .message {
        font-size: 16px;
        margin: 20px 10px;
    }
}