.main {
    border: 1px solid #aaaaaa;
    max-width: 400px;
    margin: 30px auto;
    background-color: #fff;
    height: 300px;
    border-radius: 5px;
}

.main__ttl {
    text-align: center;
    padding-top: 80px;
}

.main__title {
    font-size: 20px;
}

.button {
    text-align: center;
    margin-top: 40px;
}

.button a {
    background-color: #3366FF;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #3366FF;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 10px;
}

@media screen and (max-width: 768px) {
    .main {
        text-align: center;
        max-width: 310px;
        margin-top: 100px;
    }

    .main__title {
        font-size: 24px;
    }

    .button {
        text-align: center;
        margin-top: 20px;

    }

    .button__title {
        padding: 10px 20px;
        font-size: 16px;
    }
}